<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GroupName</key>
	<string>wheel</string>
	<key>Label</key>
	<string>com.dapetcu21.BetterFinderUninstaller</string>
	<key>UserName</key>
	<string>root</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
